.jumbotron h1 {
    font-weight: 100;
}
nav span {
    font-size: 20px;
}
.jumbotron .lead a {
    color: red;
}
.blog-post:first-of-type {
    background-color: bisque;
}
.blog-post:first-of-type hr {
    color: red;
}

nav span:nth-of-type(even){
    color: purple;
}
.aside .p-4:nth-child(2) ol:first-of-type li {
    background-color: aquamarine;
}
.blog-post:nth-of-type(2) .blog-post-meta a {
    color: green;
}
.blog-post:last-of-type ul li:nth-child(2) {
    color: blueviolet;
}
.float-right {
    color: blueviolet;
}
.blog-pagination a .btn-outline-secondary{
    color:red;

}
footer p a:last-child {
    color: green;
}